<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Authentication - Signup</title>
</head>
<body>
<form method="post">
    <input type="text" name="firstname"/>
    <input type="text" name="lastname"/>
    <input type="text" name="email"/>
    <input type="text" name="password"/>
    <button type="submit">Continue</button>
</form>


</body>
</html>