<!-- signup.html.j2 -->
{% extends "base.html.j2" %}

{% block title %}Authentication - Signup{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="post">
        <div class="mb-3">
            <input type="text" class="form-control" name="firstname" placeholder="First Name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="lastname" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>
{% endblock %}
