{% extends "base.html.j2" %}
{% block title %}Ma boutique{% endblock %}

{% block content %}

{% include "product_form.html.j2" %}

<div class="row">
    {% if products %}
        {% for product in products %}
        <div class="col-md-2 mx-auto my-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ product.name }}</h2>
                    <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}">
                    <p class="card-text">${{ product.price }}</p>
                    <a href="/product/{{ product.id }}" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div>Aucun produit pour le moment</div>
    {% endif %}
</div>
{% endblock %}